apiVersion: apps/v1
kind: Deployment
metadata:
  name: diagnosis-app
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: diagnosis-app
  template:
    metadata:
      labels:
        app: diagnosis-app
    spec:
      containers:
        - name: diagnosis-container
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
            - containerPort: 8000
          resources:
            limits:
              memory: "1Gi"
              cpu: "1000m"
            requests:
              memory: "512Mi"
              cpu: "500m"
          livenessProbe:
            httpGet:
              path: /
              port: 8000
            initialDelaySeconds: 30
          readinessProbe:
            httpGet:
              path: /
              port: 8000
            initialDelaySeconds: 15